h1{
    color:rgb(22, 1, 22);
}
body{
    background-color:antiquewhite;
    background-position:center;
    background-size:cover;
   
}
a{
    text-decoration:dotted;
    cursor: grab;
}
.box{ 
    display: flex;
    justify-content: space-around;
    background-color: rgb(214, 129, 210);
 }
 
 